body {
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
    
    font-family: 'Faster One', cursive;
    
}

h3 {
    font-family: 'Faster One', cursive;
}

#trainGif {
    height: 120pt;
    width: 700pt;
}

.form-group {
    margin: 10pt;
}

#subBtn {
    margin-top: 12pt;
}